@model List<CarInsurance.Models.Insuree>

@{
    ViewBag.Title = "Admin";
}

<h2>Quotes</h2>

<@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Quote</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var insuree in Model)
            {
                <tr>
                    <td>@insuree.FirstName</td>
                    <td>@insuree.LastName</td>
                    <td>@insuree.EmailAddress</td>
                    <td>@insuree.Quote</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No insurees have submitted quotes.</p>
}