@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        100 York Boulevard, Suit 400<br />
        Redmond Hill, ON, L4B1J8<br />
        <abbr title="Phone">P:</abbr>
        855.996.9977
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>

    <small>
        Contact Information last updated: @DateTime.Now
    </small>
</main>