
@{
    ViewBag.Title = "Instructor";
}

<h2>Instructor</h2>

<h5>
    Details for Instructor with ID: @ViewBag.Id
</h5>

<p>
    Further details abput the instructors:
</p>

<ul>
    <li>
        Another Id: @Model.id
    </li>
    <li>
        Firt Name: @Model.FirstName
    </li>
    <li>
        Last Name: @Model.LastName
    </li>
</ul>

